/.tmp/*
/.vscode/*
/build/*
/node_modules/*
/aot/*
/aot-js/*
/aot-ts/*
/src/test/mock/output/*
/target/
/yxcp/
/logs/
/src/main/webapp/WEB-INF/lib/*
/src/main/webapp/WEB-INF/classes/*
/bin/
.idea/
stat-yanxuan.iml
