/*******页面公共样式的css*******/

html,
body {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Microsoft Yahei', 'PingFang SC', Helvetica, sans-serif;
    font-size: 14px;
}

body {
    min-width: 1000px;
}