<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style type="text/css">
        @font-face {
            font-family: 'FontAwesome';
            src: url('/documents/font/FontAwesome.eot?lyuoqs');
            src: url('/documents/font/FontAwesome.eot?lyuoqs#iefix') format('embedded-opentype'), url('/documents/font/FontAwesome.ttf?lyuoqs') format('truetype'), url('/documents/font/FontAwesome.woff?lyuoqs') format('woff'), url('/documents/font/FontAwesome.svg?lyuoqs#FontAwesome') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <demo-app></demo-app>
</body>
</html>