<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <demo-app></demo-app>
    <% if(htmlWebpackPlugin.options.linkDll){ %>
        <script src="/src/lib/angular.dll.js"></script>
    <% } %>
</body>
</html>